# core
flask==2.2.2
faker==14.2.0
webargs==8.2.0
requests==2.28.1

# configuration
python-dotenv==0.21.0

# work with csv
pandas==1.5.0
numpy==1.23.3

# code reformatting & checking
black==22.8.0
pre-commit==2.20.0
pyupgrade==2.38.0