<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        {% block style %}{% endblock %}
    </style>
</head>
<body>
    <div style="margin: 0 15px">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="margin-bottom: 15px;">
                <a href="{{ url_for('index') }}" style="color: black; text-decoration:none;">Mini-Wiki site!</a>
            </h1>
            <a href="{{ url_for('read_all_contacts') }}" style="color: black; font-size: 22px; padding-right: 30px;">
                Your contacts
            </a>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>